<!DOCTYPE html>
<html>
  <head>
    <title>WellnessPoints</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-container">
        <div class="nav-brand">
          <%= link_to "Wellness Points", root_path %>
        </div>
        <% if user_signed_in? %>
          <div class="nav-links">
            <%= link_to "Dashboard", dashboard_path %>
            <%= link_to "Allies", allies_path %>
            <%= link_to "Tasks", tasks_path %>
            <%= link_to "Transactions", point_transactions_path %>
            <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link", form: { style: 'display: inline;' } %>
          </div>
        <% end %>
      </div>
    </nav>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
